:root {
    --primary-text-color:#212121;
    --title-text-color:#FFFFFF;
    --accent-text-color:#2196F3;
    --contacts-text-color:#757575;
    --primary-background-color:
    #2F303A;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
 
 
 .body {
    background-color: #ffffff;

    font-family: 'Oleo Script', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
 }   

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .nav-container {

    margin-left: auto;
    margin-right: auto;
    width: 1200px;
 
}


.nav-menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.nav-items {
    display: flex;
    margin-left: 93px;
  }

.nav-items .item:not(:last-child) {
    margin-right: 50px;
}
    
.span__logo {
    color: var(--accent-text-color);
}

 .logo { 
    color: var(--primary-text-color);

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;

    letter-spacing: 0.03em;
 }
 
 .nav-link {

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 50px   ;
   
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--primary-text-color);

 }

.nav-link .item:not(:last-child) {
     margin-right: 0px;
 }

.nav-link:hover {
    color: var(--accent-text-color)
 }
 

.is-active {                
    color: var(--accent-text-color);
}

.nav-adress {
    display: flex;
}

.contacts.item:not(:last-child) {
  margin-right: 50px;

}


.contacts-item {
    margin-left: 50px;


    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: var(--contacts-text-color);
}

.contacts-item:hover {
color: var(--accent-text-color);
}

.hero__section {

 width: 100%;
 padding: 200px 0px;

background-color: var(--primary-background-color);

}

 .hero__title {

    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;



    color:#FFFFFF;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 696px;

 }


 .button {
    display: inline;
    margin: 0 auto;
    padding: 10px 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
   

    color: #FFFFFF;

    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

 }

.functions {
    display: flex;
    padding-top: 94px;
}



.function {
    margin-bottom: 10px;
    margin-left: 30px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

    color: var(--primary-text-color);

}
 
.function__description {
    margin-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;

    color: #757575;
}


.container {
    margin: 0 auto;
    width: 1205px;
    height: 386px;
    left: 215px;
    top: 969px;
    
}

.work {
  padding-bottom: 94px;
}


.work-section-header {
    padding-bottom: 50px;
    margin-top: 94px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.work-gallery {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;

    
    
}

.team-container {
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;

    margin: auto;
}


.section__team {
    background-color:  #F5F4FA;
     
    padding: 94px;

}


.team-cards-list {
    display: flex;
   
}

.team-cards {
    margin-left: 30px;
 
}
  



.team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
   

}

.team__members {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    

}

.team__post {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;

    color: #757575;
   
}



.contacts__footer:hover {
    color:var(--accent-text-color);
}

.card {     
    width: 270px;
    height: 368px;
    
    background: var(--title-text-color);
    
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}



.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

}

.footer__logo {
   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;

    letter-spacing: 0.03em;
    color: var(--title-text-color);
 }

.contacts__footer {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
    
}

.contacts__footer:hover {
    color: var(--accent-text-color);
}

.footer {
    background-color: var(--primary-background-color);
}



