:root {
    --primary-text-color:#212121;
    --title-text-color:#FFFFFF;
    --accent-text-color:#2196F3;
    --contacts-text-color:#757575;
    --primary-background-color:
    #2F303A;
}
 
 
 .body {
    background-color: #ffffff;

    font-family: 'Oleo Script', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
 }   
 


 .webstudio { 
    color: var(--primary-text-color);


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;

    letter-spacing: 0.03em;
 }

 .nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--primary-text-color);
 }

 .nav__link:hover {
    color: var(--accent-text-color)
 }

 .contacts {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
   
    color: var(--contacts-text-color);
 }

 .contacts:hover {
    color: var(--accent-text-color);
 }

 .title__section {
    background-color: var(--primary-background-color);
 }

 .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
    background-color: #2F303A;

 }

 .button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;



    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

 }



.function {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);

}
 
.function__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;

    color: #757575;
}

.h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;0
}

.section__team {
    background-color:  #F5F4FA;
}

.igor {
    width: 270px;
    height: 260px;
    
}

.olga {
    width: 270px;
    height: 260px;
   
}

.taras {
    width: 270px;
    height: 260px;
  
}

.misha {
    width: 270px;
    height: 260px;
    
}

.team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
   

}

.team__members {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    

}

.team__post {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;

    color: #757575;
   
}



.contacts__footer:hover {
    color:var(--accent-text-color);
}

.card {     
    width: 270px;
    height: 368px;
    
    
    background: var(--title-text-color);
    
    
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}



.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

}

.contacts__footer {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    
    letter-spacing: 0.03em;
    
    
}

.footer {
    background-color: var(--primary-background-color);
}



