:root {
    --primary-text-color:#212121;
    --title-text-color:#FFFFFF;
    --accent-text-color:#2196F3;
    --contacts-text-color:#757575;
    --primary-background-color:
    #2F303A;
}
 
 
 .body {
    background-color: #ffffff;

    font-family: 'Oleo Script', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
 }   
 


 .logo { 
    color: var(--primary-text-color);


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;

    letter-spacing: 0.03em;
 }

 .span__logo {
   color: var(--accent-text-color);
 }

 .nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--primary-text-color);
 }

 .nav__link:hover {
    color: var(--accent-text-color)
 }

 .contacts {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
   
    color: var(--contacts-text-color);
 }

 .contacts:hover {
    color: var(--accent-text-color);
 }

 .button__all {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color:var(--primary-text-color);

   
    letter-spacing: 0.03em;


    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 }

 .button__all:hover {
  background-color: var(--accent-text-color);
  color: var(--title-text-color);
 }
 



 .cards {     
   box-sizing: border-box;

   width: 370px;
   background: #FFFFFF;
   border: 1px solid #EEEEEE;
}

.adress {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;

   color: var(--title-text-color);

}

.contacts__footer {
   
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   text-decoration: none;
   
   letter-spacing: 0.03em;
   
   
}

.contacts__footer:hover {
   color: var(--accent-text-color);
}

.footer {
   background-color: var(--primary-background-color);
}
